:root {
  --background: #2e2e2e;
  --color: #d3e912;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--color)
}

.flex  {
  display: flex;
  justify-content: center;
}

.item-div {
  padding: 20px 103px;
  background: var(--color);
  color: var(--background);

}

 input {
  padding: 5px 3px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 9px;
}